.wrapper {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    padding: 0 10px 0 100px;
    width: 100%;
    padding-top: 20px;
    justify-content: start;
    background-color: red;
    
   
  }

  .todoText{
    font-size: 15px;
  }
  
  .todoComplete{
    display: flex;
    justify-content: space-between;
    align-items:center;
    min-width: 22px;
    min-height: 22px;
    background-color: unset;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid rgb(246, 246, 246);
  }

  .todoCompleteDone{
    background-color: #1d87c0;
  }
  .todoComplete:hover{
    background-color: #1d87c0;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;  
  }

  .todoComplete:active{
    background-color: #eec9be;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;  
  }


  .todoWrapper{
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    padding: 5px 0 6px 0;
    border-bottom: 1px dotted rgb(215, 215, 215);
  }
  .completeText{
   text-decoration: line-through;
   color:rgb(209, 207, 207)
  }
  .firstNoteText{
    font-size: 28px;
    text-shadow:
      1px 1px 0 rgb(0, 0, 0),
      1px -1px 0 rgb(0, 0, 0),
      -1px 1px 0 rgb(0, 0, 0),
      -1px -1px 0 rgb(0, 0, 0);
    color: white;
    transition: all 1s;
    font-weight: 400;
  }
  
.marker{
  display: inline-block;
  width: 25px;
  background-color: red;
  height: 25px;
  position: absolute;
  top: 60%;
  left: -10px;
}
  
  .note {
    display: inline-block;
    width: 250px;
    height: 330px;
    background-color: #f61717;
    padding: 5px 15px 5px 15px;
    color: rgb(222, 251, 251);
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 7px 10px 12px rgba(42, 42, 42, 0.752);
    transform: scale(100%);
    transition: transform 0.3s ease;
    
    .circle {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 2px solid rgb(222, 251, 251);
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      font-weight: 500;
    }
    &__first {
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;
      font-size: 20px;
    }
    .imp {
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 25px;
    }
    .imp:hover {
      border-radius: 10%;
      background-color: #1d87c0;
      -webkit-transition: background-color 300ms linear;
      -ms-transition: background-color 300ms linear;
      transition: background-color 300ms linear;
    }
    .imp:active {
      border-radius: 10%;
      background-color: #eec9be;
      -webkit-transition: background-color 300ms linear;
      -ms-transition: background-color 300ms linear;
      transition: background-color 300ms linear;
    }
    .text {
      height: 200px;
      overflow: scroll;
      p {
        padding-bottom: 5px;
      }
    }
    .name {
      min-height: 18px;
      max-height: 30px;
      font-size: 22px;
      font-weight: 500;
      display: block;
      margin-bottom: 20px;
    }
    .line {
      width: 100%;
      height: 1px;
      background-color: rgb(242, 215, 215);
      margin-top: 3px;
    }
    .time {
      font-size: 16px;
      font-weight: 500;
      padding: 6px;
    }
  }


  .note:hover {
    transform: scale(105%);
    transition: transform 0.3s ease;
    z-index: 2;
  }

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }