.searchWrap{
    width: 484px;
    border-radius: 10px;
    height: 200px;
    background-color: rgba(240, 237, 237, 0.426);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);

    .seacrhInput{
        width: 100%;
        height: 50px;
        font-size: 25px;
        font-weight: 600;
        background-color: rgba(34, 34, 34, 0.139);
        border-radius:5px;
        outline: none;
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: hidden;
        color:rgba(0, 0, 0, 0.622);
    }
}



.transorm{
    position:fixed;
    top: 30%;
    left: 50%;
    z-index: 100;
    transform: translateX(-50%);
}
.blur{ 
    display: flex;
    justify-content: center;
    padding-top: 20px;
    height: 100%;
    width: 100%;
    
}
.search{
    width: 400px;
    span{
        display: block;
        margin-bottom: 15px;
        text-align: center;
        font-size: 35px;
        font-weight: 700;
        color:rgb(67, 67, 67);
     
    }
    
}