.wrap{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    padding: 0 40px;
    width: 100%;
    padding-top: 20px;
    justify-content: start;


    .note{
        display: inline-block;
        width: 250px;
        height: 330px;
        background-color: #d68043;
        padding: 5px 15px 5px 15px;
        color: rgb(222, 251, 251);
        margin-right: 20px;
        box-shadow: 7px 10px 12px rgba(42, 42, 42, 0.752);
        .circle{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 2px solid rgb(222, 251, 251);
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            font-weight: 500;
        }
        &__first{
            display: flex;
            justify-content: space-between;
            padding-bottom: 10px;
            font-size: 20px;
        }
        .imp{
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items:center;
            width: 30px;
            height: 25px;
        }
        .imp:hover {
            border-radius:10%;
            background-color: #1d87c0;
            -webkit-transition: background-color 300ms linear;
            -ms-transition: background-color 300ms linear;
            transition: background-color 300ms linear;
        }
        .imp:active {
            border-radius:10%;
            background-color: #eec9be;
            -webkit-transition: background-color 300ms linear;
            -ms-transition: background-color 300ms linear;
            transition: background-color 300ms linear;
        }
        .text{
            height: 190px;
            overflow: scroll;
            p{
                padding-bottom: 5px;
            }
        }
        .name{
            height: 18px;
            font-size: 22px;
            font-weight: 600;
            display: block;
            margin-bottom: 20px;
        }
        .line{
            width: 100%;
            height: 1px;
            background-color: rgb(242, 215, 215);
            margin-top: 3px;
        }
        .time{
            font-size: 17px;
            font-weight: 600;
            padding: 6px;
        }
    }
    
    .flex{
        display: flex;
        justify-content: space-between;
        align-items:center
    }
}
